
html
    scroll-behavior: smooth
body
    margin: 0

.section
    padding-top: 64px
    padding-bottom: 64px

.compress
    margin: 0 auto
    max-width: $media.max
    padding-left: 128px
    padding-right: 128px

.black-back
    background-size: cover
    background-position: center
