
h1, h2, h3, h4, h5, h6, p, a, li
    font-family: Teko
    margin: 0

.black-back
    h1, h2, h3, h4, h5, h6, p, a, li
        color: $white

.white-back
    h1, h2, h3, h4, h5, h6, p, a, li
        color: $black

h1, h2
    font-weight: 600
h3, h4, h5, h6, p, a, li
    font-weight: 400

h1
    font-size: 64px
h2, h3
    font-size: 40px
p
    font-size: 20px

a
    color: $black
    text-decoration: none
ul
    padding: 0
    margin: 0
li
    list-style: none
