
.about-wrapper
    display: flex
    .about-video, .about-content
        flex: 1

    .about-content
        display: flex
        flex-direction: column

        .contact-btn
            margin-top: 24px
            align-self: flex-end
            background-size: contain
            background-repeat: no-repeat
            background-position: right
            display: flex
            justify-content: center
            align-items: center
            height: 96px
            width: 240px
            h2
                margin-right: 12px
