
.skills-wrapper
    display: flex
    flex-wrap: wrap

    .skills-item
        width: 340px
        margin-right: 60px
        margin-top: 40px
        h4
            font-size: 48px
            margin-bottom: 12px
            text-transform: uppercase

        .skill-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 4px
            h5
                font-size: 32px
            .stars-wrapper
                display: flex
                img
                    height: 36px
                    margin-right: 4px
                    &:last-child
                        margin-right: 0
