

$white = #FAFAFA
$black = black
$orange = #FF9500

$media = {
    max: 1200px
}

@import './general/fonts.styl'

@import './general/text.styl'
@import './general/page.styl'
@import './general/navbar.styl'

@import './sections/play-game.styl'
@import './sections/about.styl'
@import './sections/portfolio.styl'
@import './sections/contact.styl'
